<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net40" />
  <package id="Digitrish.WrapperGenerator" version="1.0.0.8" targetFramework="net452" />
  <package id="Moq" version="4.2.1506.2016" targetFramework="net452" />
  <package id="Quartz" version="2.3.2" targetFramework="net40" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net452" />
</packages>